// Place all the styles related to the Sparkles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-inputs{
  float:left;
  padding-top: 13px;
}
.form-actions {
  float: left;
  padding-top: 18px;
  font-size: 10px;
  padding-left: 10px;
  .simple_form input[type='submit'] {
    background-color: #FEB6E8;
    color: black;
  }

}